<form id='form' name='form' enctype="multipart/form-data">
    <label>Wählen Sie die hochzuladenden Dateien von Ihrem Rechner aus:
        <input name="file" multiple="true" type="file">
    </label>
    <button type="submit">hochladen</button>
</form>
<pre id="message"></pre>
<script>
    const setMessage = msg => message.innerText = msg

    const upload = event => {
        event.preventDefault()
        const accessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.wLKpjVW9IRyDIg2Wsrg9_vQ1oo3fk1Hsdi7RmP33giY'

        fetch('/file/', {
            method: 'POST',
            mode: 'cors',
            headers: {
                'Authorization': 'Bearer ' + accessToken
            },
            body: new FormData(document.getElementById('form'))
        }).then(
            res => res.ok ? res.json() : console.error(res),
            error => console.error(error)
        ).then(
            json => setMessage(JSON.stringify(json))
        )
    }
    document.querySelector('#form').addEventListener('submit', upload)
</script>